@{
    ViewBag.Title = "Agrikore Blockchain Solutions";
}

<div class="jumbotron">
    <h1>Agrikore Blockchain Solutions</h1>
    <p class="lead">Agrikore blockchain solutions provides a blockchain ledger for rural agricultural communities to facilitate and enhance agricultural production and provide financial services for the unbanked and under-banked in those communities.</p>
</div>

<div class="panel-body" style="color:#000000">
    <p>Agrikore is developed and managed by Cellulant. Cellulant is a financial services provider, with a focus on rural and agricultural communities, and has been providing services to farmers, agro-dealers, agricultural produce purchasers, and banking services to the under-banked for several years. Cellulant provides financial services through mobile banking kiosks, as well as the Tingg mobile application including mobile money services for purchases, bill payment, and physical banking services through local service kiosks and rural community agents. The Cellulant network of customers currently consists of over thirty five million registered customers including over seventeen million registered farmers.</p>
    <p>Agrikore is not just a blockchain initiative, but an existing overall program for providing financial services and improving agricultural produce development, with an existent thriving customer base. Our new blockchain services is devised to enhance these services. </p>
    <p>Application of blockchain solutions to this existent community was the thrust for developing Agrikore Blockchain solutions. Agrikore blockchain solution consists of the following parts</p>
</div>

<div style="color:#000000">
    <ul>
        <li>Blockchain accounts and financial transactions administered via the Tingg App</li>
        <li>Agrikore smart contract solutions for agricultural production, produce storage, and delivery</li>
        <li>Agricultural subsidy registration and dissemination for government and non-governmental organizations</li>
        <li>Agricultural loan financing and monitoring through the blockchain</li>
    </ul>
</div>

<p>Read more about these solutions and how they integrate to enhance production in rural and agricultural communities, as well as provide needed financial and banking services to the underbanked in our @Html.ActionLink("About", "About", "Home") page.</p>

<p>
    Relationship between Agrikore and the markets it facilitates:
    <div align="center"><center><img width="800" src="@Url.Content("~/Content/Agrikore_Market_Schematic.png")"><br /><br /></center></div>
</p>
<p>Relationship between the Agrikore Blockchain technology, the MULA(s), and members of the ecosystem:
    <div align="center"><center><img width="800" src="@Url.Content("~/Content/Agrikore_Blockchain_Schematic.png")"><br /><br /></center></div>
</p>
<p>
    The Agrikore last mile infrastructure consisting of the Tingg mobile app, and hundreds of mobile banking kiosks already installed in rural communities:
    <div align="center"><center>
        <img width="150" src="@Url.Content("~/Content/Tingg_login.png")">&nbsp;&nbsp;
        <img width="200" src="@Url.Content("~/Content/Tingg_mobile_kiosk_installing.jpg")">&nbsp;&nbsp;
        <img width="400" src="@Url.Content("~/Content/Agrikore_mobile_kiosks.png")"><br /><br />
        </center></div>
</p>
    <div class="row">
        <table width="100%">
            <tr>
                <td colspan="5" style="border:1px;border-color:mediumblue;border-style:solid;background-color:gainsboro">
                    <div class="panel-heading">
                        <h3>Agrikore Roadmap</h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="border-left:1px;border-left-color:mediumblue;border-left-style:solid;vertical-align:top">
                    <div class="panel-heading">
<p><b>September 2017.</b><br />The MULA blockchain network is opened for simulations.</p>
                </div>
            </td>
            <td style="border-left:1px;border-left-color:mediumblue;border-left-style:solid;vertical-align:top">
                <div class="panel-heading">
                    <p><b>October 2017.</b><br />Initial MULA Exchange for ETH tokens is opened to the public.</p>
                </div>
            </td>
            <td style="border-left:1px;border-left-color:mediumblue;border-left-style:solid;vertical-align:top">
                <div class="panel-heading">
                    <p><b>November 2017.</b><br />MULA is integration into the Tingg App is completed.</p>
                </div>
            </td>
            <td style="border-left:1px;border-left-color:mediumblue;border-left-style:solid;vertical-align:top">
                <div class="panel-heading">
                    <p><b>December 2017.</b><br />MULA is launched and rolled out to current Tingg users and Cellulant customers.</p>
                </div>
            </td>
            <td style="border-left:1px;border-left-color:mediumblue;border-left-style:solid;vertical-align:top">
                <div class="panel-heading">
                    <p><b>January 2018.</b><br />MULA held on ETH network are transitioned to the MULA network.</p>
                </div>
            </td>
        </tr>
    </table>
</div>
<br/><br/><br/>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/Home/IMESimulation/">Initial MULA Purchase Simulations</a></p>
    </div>
    <!--
    <div class="col-md-4">
        <p><a class="btn btn-default" href="/BitcoinBlockchain/">Bitcoin Block Explorer</a></p>
    </div>
    -->
</div>
